
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  background-color: #002046;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
  
}


.calculator-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title-container {
  margin-top: 2rem;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
}


.calculation-display {
  /* background-color: #013B6F; */
  border-radius: 0px;
  height: 2.5rem;
  width: 10.7rem;
  margin-bottom: .2rem;
  border: none;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 100;
}


::placeholder {
  color: #fff;
  opacity: 1; 
}

  
.bttn {
  background-color: #013B6F;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  margin-bottom: .5rem;
}

.operation-bttn {
  background-color: #7DA1C3;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
}




.violet-bttn {
  background-color: blueviolet;
  border-radius: 20px;
  padding: 4px 20px;
}

.red-bttn {
  background-color: red;
  border-radius: 20px;
  padding: 4px 20px;
}

.yellow-bttn {
  background-color: yellow;
}

.orange-bttn {
  background-color: orange;
}

.add-to-cart-bttn {
  background-color: yellow;
}

.buy-now-bttn {
  background-color: orange;
}